body{
	margin-top: 50px;
}

#nav-bar-search-input{
	/* Style to make the input nice */
}

#main-container{
	min-height: 530px;
	height: auto !important;
	height: 530px;
}

#main-footer {
	background-color: #f8f8f8;
	padding: 20px 0px;
}